# Testing

In [3]:
import pandas as pd

In [25]:
dir="./dataset/"
file1="un-general-debates.csv"
df1=pd.read_csv(dir+file1)
file2="Speakers_by_session.xlsx"
df2=pd.read_excel(dir+file2)
df1.rename(columns={'ISO Code':'country'})
df2.rename(columns={'Year':'year', 'Session':'session', 'Country':'country_name', 'Post':'position'}, inplace=True)
df2.drop('Unnamed: 6',axis=1, inplace=True)

df=df1.merge(df2,how='left',on=['year','session','country'])

KeyError: 'country'

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7507 entries, 0 to 7506
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   session   7507 non-null   int64
 1   year      7507 non-null   int64
 2   ISO Code  7507 non-null   object
 3   text      7507 non-null   object
dtypes: int64(2), object(2)
memory usage: 234.7+ KB

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10559 entries, 0 to 10558
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     10559 non-null  int64
 1   session                  10559 non-null  int64
 2   ISO Code                 10558 non-null  object
 3   Country                  10559 non-null  object
 4   Name of Person Speaking  10551 non-null  object
 5   Post                     5903 non-null   object
dtypes: int64(2), object(4)
memory usage: 495.1+ KB

,year,session,ISO Code,Country,Name of Person Speaking,Post,Unnamed: 6
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,NaN
1,2022,77,SEN,Senegal,Macky Sail,President,NaN
2,2022,77,CHL,Chile,Gabriel Boric Font,President,NaN
3,2022,77,JOR,Jordan,Abdullah II ibn Al Hussein,King,NaN
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,NaN
...,...,...,...,...,...,...,...
10554,1946,1,USA,United States of America,Mr. Austin,NaN,NaN
10555,1946,1,IRN,Iran,Mr. Entezam,NaN,NaN
10556,1946,1,URY,Uruguay,Mr. Blanco,NaN,NaN
10557,1946,1,LUX,Luxembourg,Mr. Bech,NaN,NaN
10558,1946,1,UKR,Ukrainian Soviet Socialist Republic,Mr. Manuilsky,NaN,NaN

,session,year,ISO Code,text,Country,Name of Person Speaking,Post,Unnamed: 6
0,44,1989,MDV,﻿It is indeed a pleasure for me and the member...,Maldives,JAMEEL,NaN,NaN
1,44,1989,FIN,"﻿\nMay I begin by congratulating you. Sir, on ...",Finland,Paasio,NaN,NaN
2,44,1989,NER,"﻿\nMr. President, it is a particular pleasure ...",Niger,SANI BAKO,NaN,NaN
3,44,1989,URY,﻿\nDuring the debate at the fortieth session o...,Uruguay,BARRIOS TASSANO,NaN,NaN
4,44,1989,ZWE,﻿I should like at the outset to express my del...,Zimbabwe,Shamuyarira,NaN,NaN
...,...,...,...,...,...,...,...,...
7502,56,2001,KAZ,﻿This session\nthat is taking place under extr...,Kazakhstan,Madina Jarbussynova,UN Representative,NaN
7503,56,2001,LBR,﻿I am honoured to\nparticipate in this histori...,Liberia,Monie Captan,Minister for Foreign Affairs,NaN
7504,56,2001,BDI,﻿It\nis for me a signal honour to take the flo...,Burundi,Thérence Sinunguruza,Minister for Foreign Affairs,NaN
7505,56,2001,HUN,"﻿First, may I congratulate Mr. Han Seung-soo o...",Hungary,János Martonyi,Minister for Foreign Affairs,NaN
7506,56,2001,KWT,"﻿On behalf of the State of Kuwait, it\ngives m...",Kuwait,Sabah Al-Ahmad Al-Jaber Al-Sabah,Prime Minister,NaN